singularity.enabled = true
singularity.autoMounts = true

params {

    // OUTPUT DIRECTORY
    outdir  = './outputs'

    // INPUTS
    fastqs                          = [
        [
            '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/NA12878-BRCA1_R1.fastq.gz',
            '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/NA12878-BRCA1_R2.fastq.gz' 
        ],
    ]
    // FastaWithIndexes
    reference                       = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.fasta',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.fasta.amb',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.fasta.ann',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.fasta.bwt',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.dict',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.fasta.fai',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.fasta.pac',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.fasta.sa'
    ]

    // CompressedIndexedVCF
    snps_dbsnp                      = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.dbsnp138.BRCA1.vcf.gz',       
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.dbsnp138.BRCA1.vcf.gz.tbi'
    ]

    // CompressedIndexedVCF
    snps_1000gp                     = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/1000G_phase1.snps.high_confidence.hg38.BRCA1.vcf.gz',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/1000G_phase1.snps.high_confidence.hg38.BRCA1.vcf.gz.tbi'
    ]

    // CompressedIndexedVCF
    known_indels                    = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.known_indels.BRCA1.vcf.gz',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.known_indels.BRCA1.vcf.gz.tbi',
    ]

    // CompressedIndexedVCF
    mills_indels                    = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Mills_and_1000G_gold_standard.indels.hg38.BRCA1.vcf.gz',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Mills_and_1000G_gold_standard.indels.hg38.BRCA1.vcf.gz.tbi'
    ]

    adapter_file                    = '/data/janis/resources/adapter_files/adapter_list.txt'
    contaminant_file                = '/data/janis/resources/adapter_files/contaminant_list.txt'
    gatk_intervals                  = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/BRCA1.hg38.bed'
    ]
    sample_name                     = 'NA12878-BRCA1'
    allele_freq_threshold           = 0.05
    min_mapping_qual                = null
    filter                          = null
    align_and_sort_sortsam_tmp_dir  = './tmp'
    vc_gatk_uncompress_force        = true

    // PROCESSES
    getfastqc_adapters.code_file                       = '/researchers/richard.lupat/janis/2023/bioinformatics_pipelines/nextflow/WGSGermlineGATK/templates/ParseFastqcAdapters.py'
    calculate_performancesummary_genomefile.code_file  = '/researchers/richard.lupat/janis/2023/bioinformatics_pipelines/nextflow/WGSGermlineGATK/templates/GenerateGenomeFileForBedtoolsCoverage.py'
    generate_gatk_intervals.code_file                  = '/researchers/richard.lupat/janis/2023/bioinformatics_pipelines/nextflow/WGSGermlineGATK/templates/GenerateIntervalsByChromosome.py'
    fastqc.cpus                                        = 1
    fastqc.memory                                      = 8
    vc_gatk_sort_combined.cpus                         = 1
    vc_gatk_sort_combined.memory                       = 8

    // SUBWORKFLOW: ALIGN_AND_SORT
    align_and_sort.five_prime_adapter_read1       = []  // list values here
    align_and_sort.five_prime_adapter_read2       = []  // list values here
    align_and_sort.cutadapt_quality_cutoff        = 15
    align_and_sort.cutadapt_minimum_length        = 50
    align_and_sort.bwamem_mark_shorter_splits     = true
    align_and_sort.sortsam_sort_order             = 'coordinate'
    align_and_sort.sortsam_create_index           = true
    align_and_sort.sortsam_validation_stringency  = 'SILENT'
    align_and_sort.sortsam_max_records_in_ram     = 5000000
    align_and_sort.cutadapt.cpus                  = 5
    align_and_sort.cutadapt.memory                = 4
    align_and_sort.bwamem.cpus                    = 8
    align_and_sort.bwamem.memory                  = 16
    align_and_sort.sortsam.cpus                   = 1
    align_and_sort.sortsam.memory                 = 8

    // SUBWORKFLOW: BQSR
    bqsr.base_recalibrator.cpus    = 1
    bqsr.base_recalibrator.memory  = 16
    bqsr.apply_bqsr.cpus           = 1
    bqsr.apply_bqsr.memory         = 8

    // SUBWORKFLOW: MERGE_AND_MARKDUPS
    merge_and_markdups.create_index                           = true
    merge_and_markdups.max_records_in_ram                     = 5000000
    merge_and_markdups.merge_sam_files_use_threading          = true
    merge_and_markdups.merge_sam_files_validation_stringency  = 'SILENT'
    merge_and_markdups.merge_sam_files.cpus                   = 4
    merge_and_markdups.merge_sam_files.memory                 = 8
    merge_and_markdups.mark_duplicates.cpus                   = 4
    merge_and_markdups.mark_duplicates.memory                 = 8

    // SUBWORKFLOW: PERFORMANCE_SUMMARY
    performance_summary.samtoolsview_do_not_output_alignments_with_bits_set  = '0x400'
    performance_summary.performancesummary_genome                            = true
    performance_summary.gatk4collectinsertsizemetrics.cpus                   = 1
    performance_summary.gatk4collectinsertsizemetrics.memory                 = 8
    performance_summary.bedtoolsgenomecoveragebed.memory                     = 8

    // SUBWORKFLOW: VC_GATK
    vc_gatk.split_bam_output_filename                 = 'out'
    vc_gatk.haplotype_caller_pair_hmm_implementation  = 'LOGLESS_CACHING'
    vc_gatk.uncompressvcf_force                       = true
    vc_gatk.split_bam.memory                          = 4
    vc_gatk.haplotype_caller.cpus                     = 1
    vc_gatk.haplotype_caller.memory                   = 8
    vc_gatk.splitnormalisevcf.cpus                    = 1
    vc_gatk.splitnormalisevcf.memory                  = 8

    // SUBWORKFLOW: VC_GATK_ADDBAMSTATS
    vc_gatk_addbamstats.samtoolsmpileup_count_orphans  = true
    vc_gatk_addbamstats.samtoolsmpileup_nobaq          = true
    vc_gatk_addbamstats.samtoolsmpileup_minbq          = 0
    vc_gatk_addbamstats.samtoolsmpileup_max_depth      = 10000
    vc_gatk_addbamstats.addbamstats_type               = 'germline'


}
