singularity.enabled = true
singularity.autoMounts = true

params {

    // OUTPUT DIRECTORY
    outdir  = './outputs'

    // INPUTS
    normal_inputs                = [
        [
            '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/NA24385-BRCA1_R1.fastq.gz',
            '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/NA24385-BRCA1_R2.fastq.gz'
        ],
    ]
    tumor_inputs                 = [
        [
            '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/NA12878-NA24385-mixture-BRCA1_R1.fastq.gz',
            '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/NA12878-NA24385-mixture-BRCA1_R2.fastq.gz'
        ],
    ]
    normal_name                  = 'NA24385-BRCA1'

    // FastaWithIndexes
    reference                    = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.fasta',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.fasta.amb',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.fasta.ann',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.fasta.bwt',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.dict',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.fasta.fai',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.fasta.pac',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.chr17.fasta.sa'
    ]

    // CompressedIndexedVCF
    snps_dbsnp                      = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.dbsnp138.BRCA1.vcf.gz',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.dbsnp138.BRCA1.vcf.gz.tbi'
    ]

    // CompressedIndexedVCF
    snps_1000gp                     = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/1000G_phase1.snps.high_confidence.hg38.BRCA1.vcf.gz',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/1000G_phase1.snps.high_confidence.hg38.BRCA1.vcf.gz.tbi'
    ]

    // CompressedIndexedVCF
    known_indels                    = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.known_indels.BRCA1.vcf.gz',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Homo_sapiens_assembly38.known_indels.BRCA1.vcf.gz.tbi',
    ]

    // CompressedIndexedVCF
    mills_indels                    = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Mills_and_1000G_gold_standard.indels.hg38.BRCA1.vcf.gz',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/Mills_and_1000G_gold_standard.indels.hg38.BRCA1.vcf.gz.tbi'
    ]

    adapter_file                    = '/data/janis/resources/adapter_files/adapter_list.txt'
    contaminant_file                = '/data/janis/resources/adapter_files/contaminant_list.txt'
    gatk_intervals                  = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/BRCA1.hg38.bed'
    ]

    vardict_intervals                        = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/BRCA1.hg38.split-intervals.bed'
    ]

    // BedTABIX
    strelka_intervals                        = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/BRCA1.hg38.bed.gz',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/BRCA1.hg38.bed.gz.tbi'
    ]

    gridss_blacklist                         = '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/consensusBlacklist.hg38.chr17.bed'
    min_mapping_qual                         = null
    filter                                   = null

    // CompressedIndexedVCF
    gnomad                       = [
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/af-only-gnomad.hg38.BRCA1.vcf.gz',
        '/data/seqliner/test-data/janis_test_data/brca1_test/test_data/af-only-gnomad.hg38.BRCA1.vcf.gz.tbi'
    ]

    // CompressedIndexedVCF
    panel_of_normals                         = [
        // vcf.gz
        // tbi
    ]

    pseudo_snps                              = null
    max_depth                                = null
    everything                               = null
    genome                                   = null
    cval                                     = null
    purity_cval                              = null
    normal_depth                             = null
    tumor_name                               = 'NA12878-NA24385-mixture-BRCA1'
    allele_freq_threshold                    = 0.05
    vc_gatk_uncompressvcf_force              = true
    vc_vardict_uncompress_for_combine_force  = true
    combine_variants_type                    = 'somatic'
    combine_variants_columns                 = ['AD', 'DP', 'GT']
    combined_uncompress_force                = true

    // PROCESSES
    calculate_performancesummary_genomefile.code_file  = '/researchers/richard.lupat/janis/2023/bioinformatics_pipelines/nextflow/WGSSomaticMultiCallers/templates/GenerateGenomeFileForBedtoolsCoverage.py'
    generate_gatk_intervals.code_file                  = '/researchers/richard.lupat/janis/2023/bioinformatics_pipelines/nextflow/WGSSomaticMultiCallers/templates/GenerateIntervalsByChromosome.py'
    generate_vardict_headerlines.code_file             = '/researchers/richard.lupat/janis/2023/bioinformatics_pipelines/nextflow/WGSSomaticMultiCallers/templates/GenerateVardictHeaderLines.py'
    generate_manta_config.code_file                    = '/researchers/richard.lupat/janis/2023/bioinformatics_pipelines/nextflow/WGSSomaticMultiCallers/templates/GenerateMantaConfig.py'
    vc_gridss.cpus                                     = 8
    vc_gridss.memory                                   = 31
    vc_gatk_sort_combined.cpus                         = 1
    vc_gatk_sort_combined.memory                       = 8
    vc_vardict_sort_combined.cpus                      = 1
    vc_vardict_sort_combined.memory                    = 8
    circos_plot.cpus                                   = 1
    circos_plot.memory                                 = 16
    combine_variants.memory                            = 8
    combined_sort.cpus                                 = 1
    combined_sort.memory                               = 8

    // SUBWORKFLOW: ALIGNMENT_NORMAL
    alignment_normal.allele_freq_threshold           = 0.05
    alignment_normal.min_mapping_qual                = null
    alignment_normal.filter                          = null
    alignment_normal.align_and_sort_sortsam_tmp_dir  = './tmp'
    alignment_normal.getfastqc_adapters.code_file    = '/researchers/richard.lupat/janis/2023/bioinformatics_pipelines/nextflow/WGSSomaticMultiCallers/templates/ParseFastqcAdapters.py'
    alignment_normal.fastqc.cpus                     = 1
    alignment_normal.fastqc.memory                   = 8

    // SUBWORKFLOW: ALIGNMENT_TUMOR
    alignment_tumor.allele_freq_threshold           = 0.05
    alignment_tumor.min_mapping_qual                = null
    alignment_tumor.filter                          = null
    alignment_tumor.align_and_sort_sortsam_tmp_dir  = './tmp'
    alignment_tumor.getfastqc_adapters.code_file    = '/researchers/richard.lupat/janis/2023/bioinformatics_pipelines/nextflow/WGSSomaticMultiCallers/templates/ParseFastqcAdapters.py'
    alignment_tumor.fastqc.cpus                     = 1
    alignment_tumor.fastqc.memory                   = 8

    // SUBWORKFLOW: ALIGN_AND_SORT
    alignment_normal.align_and_sort.five_prime_adapter_read1       = []  // list values here
    alignment_normal.align_and_sort.five_prime_adapter_read2       = []  // list values here
    alignment_normal.align_and_sort.cutadapt_quality_cutoff        = 15
    alignment_normal.align_and_sort.cutadapt_minimum_length        = 50
    alignment_normal.align_and_sort.bwamem_mark_shorter_splits     = true
    alignment_normal.align_and_sort.sortsam_sort_order             = 'coordinate'
    alignment_normal.align_and_sort.sortsam_create_index           = true
    alignment_normal.align_and_sort.sortsam_validation_stringency  = 'SILENT'
    alignment_normal.align_and_sort.sortsam_max_records_in_ram     = 5000000
    alignment_tumor.align_and_sort.five_prime_adapter_read1        = []  // list values here
    alignment_tumor.align_and_sort.five_prime_adapter_read2        = []  // list values here
    alignment_tumor.align_and_sort.cutadapt_quality_cutoff         = 15
    alignment_tumor.align_and_sort.cutadapt_minimum_length         = 50
    alignment_tumor.align_and_sort.bwamem_mark_shorter_splits      = true
    alignment_tumor.align_and_sort.sortsam_sort_order              = 'coordinate'
    alignment_tumor.align_and_sort.sortsam_create_index            = true
    alignment_tumor.align_and_sort.sortsam_validation_stringency   = 'SILENT'
    alignment_tumor.align_and_sort.sortsam_max_records_in_ram      = 5000000
    alignment_normal.align_and_sort.cutadapt.cpus                  = 5
    alignment_normal.align_and_sort.cutadapt.memory                = 4
    alignment_normal.align_and_sort.bwamem.cpus                    = 8
    alignment_normal.align_and_sort.bwamem.memory                  = 16
    alignment_normal.align_and_sort.sortsam.cpus                   = 1
    alignment_normal.align_and_sort.sortsam.memory                 = 8
    alignment_tumor.align_and_sort.cutadapt.cpus                   = 5
    alignment_tumor.align_and_sort.cutadapt.memory                 = 4
    alignment_tumor.align_and_sort.bwamem.cpus                     = 8
    alignment_tumor.align_and_sort.bwamem.memory                   = 16
    alignment_tumor.align_and_sort.sortsam.cpus                    = 1
    alignment_tumor.align_and_sort.sortsam.memory                  = 8

    // SUBWORKFLOW: BQSR_NORMAL
    bqsr_normal.base_recalibrator.cpus    = 1
    bqsr_normal.base_recalibrator.memory  = 16
    bqsr_normal.apply_bqsr.cpus           = 1
    bqsr_normal.apply_bqsr.memory         = 8

    // SUBWORKFLOW: BQSR_TUMOR
    bqsr_tumor.base_recalibrator.cpus    = 1
    bqsr_tumor.base_recalibrator.memory  = 16
    bqsr_tumor.apply_bqsr.cpus           = 1
    bqsr_tumor.apply_bqsr.memory         = 8

    // SUBWORKFLOW: COMBINED_ADDBAMSTATS
    combined_addbamstats.addbamstats_type  = 'somatic'

    // SUBWORKFLOW: MERGE_AND_MARKDUPS
    alignment_normal.merge_and_markdups.create_index                           = true
    alignment_normal.merge_and_markdups.max_records_in_ram                     = 5000000
    alignment_normal.merge_and_markdups.merge_sam_files_use_threading          = true
    alignment_normal.merge_and_markdups.merge_sam_files_validation_stringency  = 'SILENT'
    alignment_tumor.merge_and_markdups.create_index                            = true
    alignment_tumor.merge_and_markdups.max_records_in_ram                      = 5000000
    alignment_tumor.merge_and_markdups.merge_sam_files_use_threading           = true
    alignment_tumor.merge_and_markdups.merge_sam_files_validation_stringency   = 'SILENT'
    alignment_normal.merge_and_markdups.merge_sam_files.cpus                   = 4
    alignment_normal.merge_and_markdups.merge_sam_files.memory                 = 8
    alignment_normal.merge_and_markdups.mark_duplicates.cpus                   = 4
    alignment_normal.merge_and_markdups.mark_duplicates.memory                 = 8
    alignment_tumor.merge_and_markdups.merge_sam_files.cpus                    = 4
    alignment_tumor.merge_and_markdups.merge_sam_files.memory                  = 8
    alignment_tumor.merge_and_markdups.mark_duplicates.cpus                    = 4
    alignment_tumor.merge_and_markdups.mark_duplicates.memory                  = 8

    // SUBWORKFLOW: NORMAL
    combined_addbamstats.normal.samtools_mpileup_count_orphans  = true
    combined_addbamstats.normal.samtools_mpileup_nobaq          = true
    combined_addbamstats.normal.samtools_mpileup_minbq          = 0
    combined_addbamstats.normal.samtools_mpileup_max_depth      = 10000

    // SUBWORKFLOW: NORMAL_SPLIT_BAM
    vc_gatk.normal_split_bam.split_bam.memory  = 4

    // SUBWORKFLOW: PERFORMANCE_SUMMARY_NORMAL
    performance_summary_normal.samtoolsview_do_not_output_alignments_with_bits_set  = '0x400'
    performance_summary_normal.performancesummary_genome                            = true
    performance_summary_normal.gatk4collectinsertsizemetrics.cpus                   = 1
    performance_summary_normal.gatk4collectinsertsizemetrics.memory                 = 8
    performance_summary_normal.bedtoolsgenomecoveragebed.memory                     = 8

    // SUBWORKFLOW: PERFORMANCE_SUMMARY_TUMOR
    performance_summary_tumor.samtoolsview_do_not_output_alignments_with_bits_set  = '0x400'
    performance_summary_tumor.performancesummary_genome                            = true
    performance_summary_tumor.gatk4collectinsertsizemetrics.cpus                   = 1
    performance_summary_tumor.gatk4collectinsertsizemetrics.memory                 = 8
    performance_summary_tumor.bedtoolsgenomecoveragebed.memory                     = 8

    // SUBWORKFLOW: TUMOR
    combined_addbamstats.tumor.samtools_mpileup_count_orphans  = true
    combined_addbamstats.tumor.samtools_mpileup_nobaq          = true
    combined_addbamstats.tumor.samtools_mpileup_minbq          = 0
    combined_addbamstats.tumor.samtools_mpileup_max_depth      = 10000

    // SUBWORKFLOW: TUMOR_SPLIT_BAM
    vc_gatk.tumor_split_bam.split_bam.memory  = 4

    // SUBWORKFLOW: VC_FACETS
    vc_facets.run_facets_directory  = '.'
    vc_facets.run_facets.memory     = 64

    // SUBWORKFLOW: VC_GATK
    vc_gatk.output_bam_name                  = null
    vc_gatk.uncompressvcf_force              = true
    vc_gatk.filterpass_remove_filetered_all  = true
    vc_gatk.filterpass_recode                = true
    vc_gatk.filterpass_recode_infoall        = true
    vc_gatk.mutect2.cpus                     = 4
    vc_gatk.mutect2.memory                   = 16
    vc_gatk.learnorientationmodel.cpus       = 1
    vc_gatk.learnorientationmodel.memory     = 32
    vc_gatk.getpileupsummaries.cpus          = 1
    vc_gatk.getpileupsummaries.memory        = 64
    vc_gatk.calculatecontamination.cpus      = 1
    vc_gatk.calculatecontamination.memory    = 8
    vc_gatk.filtermutect2calls.cpus          = 1
    vc_gatk.filtermutect2calls.memory        = 16
    vc_gatk.splitnormalisevcf.cpus           = 1
    vc_gatk.splitnormalisevcf.memory         = 8

    // SUBWORKFLOW: VC_STRELKA
    vc_strelka.is_exome                         = null
    vc_strelka.strelka_config                   = null
    vc_strelka.filterpass_remove_filetered_all  = true
    vc_strelka.filterpass_recode                = true
    vc_strelka.filterpass_recode_infoall        = true
    vc_strelka.manta.cpus                       = 4
    vc_strelka.manta.memory                     = 4
    vc_strelka.strelka.cpus                     = 4
    vc_strelka.strelka.memory                   = 4
    vc_strelka.sortvcf.cpus                     = 1
    vc_strelka.sortvcf.memory                   = 8
    vc_strelka.splitnormalisevcf.cpus           = 1
    vc_strelka.splitnormalisevcf.memory         = 8
    vc_strelka.extractaddp.memory               = 8

    // SUBWORKFLOW: VC_VARDICT
    vc_vardict.vardict_vcf_format        = true
    vc_vardict.vardict_chrom_column      = 1
    vc_vardict.vardict_reg_start_col     = 2
    vc_vardict.vardict_gene_end_col      = 3
    vc_vardict.vardict_threads           = 4
    vc_vardict.compressvcf_stdout        = true
    vc_vardict.vardict.cpus              = 4
    vc_vardict.vardict.memory            = 8
    vc_vardict.annotate.cpus             = 1
    vc_vardict.annotate.memory           = 8
    vc_vardict.splitnormalisevcf.cpus    = 1
    vc_vardict.splitnormalisevcf.memory  = 8
    vc_vardict.trim.cpus                 = 1
    vc_vardict.trim.memory               = 1


}
